In [1]:
# Import Plotly and check its version
import plotly
print(f"Plotly version: {plotly.__version__}")

# Import Pandas
import pandas as pd

Plotly version: 5.24.1

## Plotly

Documentation: https://plotly.com/python/

We will use Plotly Express â€“ a simple, high-level approach to creating Plotly visualizations.
- Plotly Express documentation: https://plotly.com/python/plotly-express/

In [2]:
import plotly.express as px

# Needed to get visualizations working in Jupyter notebooks
import plotly.io as pio
pio.renderers.default = 'colab'

In [3]:
# Load the Gapminder dataset + query for a given country
df_gap = px.data.gapminder()
df_fin = df_gap.query("country=='Finland'")

df_fin

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
516,Finland,Europe,1952,66.550,4090500,6424.519071,FIN,246
517,Finland,Europe,1957,67.490,4324000,7545.415386,FIN,246
518,Finland,Europe,1962,68.750,4491443,9371.842561,FIN,246
519,Finland,Europe,1967,69.830,4605744,10921.636260,FIN,246
520,Finland,Europe,1972,70.870,4639657,14358.875900,FIN,246
521,Finland,Europe,1977,72.520,4738902,15605.422830,FIN,246
522,Finland,Europe,1982,74.550,4826933,18533.157610,FIN,246
523,Finland,Europe,1987,74.830,4931729,21141.012230,FIN,246
524,Finland,Europe,1992,75.700,5041039,20647.164990,FIN,246
525,Finland,Europe,1997,77.130,5134406,23723.950200,FIN,246
526,Finland,Europe,2002,78.370,5193039,28204.590570,FIN,246
527,Finland,Europe,2007,79.313,5238460,33207.084400,FIN,246

In [4]:


# Let's draw a line plot
# https://plotly.com/python/line-charts/
fig = px.line(df_fin, x="year", y="lifeExp", title='Life expectancy in Finland')
fig.show()

In [5]:
# https://plotly.com/python/plotly-express/

df_iris = px.data.iris()

fig = px.scatter(df_iris, x="sepal_width", y="sepal_length", color="species")
fig.show()

In [6]:
# statsmodels library must be installed for this example to work
# https://plotly.com/python/plotly-express/

fig = px.scatter(df_iris, x="sepal_width", y="sepal_length", color="species", marginal_y="violin",
           marginal_x="box", trendline="ols", template="simple_white")
fig.show()

In [7]:
# https://plotly.com/python/plotly-express/

fig = px.scatter(df_gap.query("year==2007"), x="gdpPercap", y="lifeExp", size="pop", color="continent",
           hover_name="country", log_x=True, size_max=60)
fig.show()

In [9]:
fig.write_html("our_visualization.html")